.Forecast {
  display: flex;
  justify-content: space-around;
  font-size: 24px;
  text-align: center;
  margin: 20px;
}

.max-cointainer {
  margin-right: 5px;
}

@media screen and (max-width: 716px) {
  .Forecast {
    font-size: 20px;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
  }

  .day-container {
    margin: 10px;
  }
}
